# Eclipse artifacts
**/.project
**/.classpath
**/.settings/
.project

# IntelliJ IDEA artifacts
**/*.iml
**/*.ipr
**/*.iws
**/.idea/

# Build artifacts
**/overlays/
**/target/

# JRebel artifacts
**/rebel.xml
**/rebel-remote.xml

